/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Optima';
  src: url('/fonts/Optima-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url('/fonts/Optima-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/fonts/AvenirNextCondensed-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/fonts/AvenirNextCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Optima', sans-serif; /* Global text font */
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
}

/* Heading Styles using Optima */
h1, h2 {
  font-family: 'Optima', sans-serif !important;
  font-weight: normal;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-weight: 600; /* Demi Bold */
  font-size: 20px;
  letter-spacing: 2px;
    text-transform: uppercase;
}

.font-avenir {
  font-family: 'Avenir Next Condensed', sans-serif;
}

.label-large {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-weight: 600; /* Demi Bold */
  font-size: 20px;
  letter-spacing: 2px;
    text-transform: uppercase;
}

.label-small-prominent {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 14px;
  font-weight: 600; /* Demi Bold */
  text-transform: uppercase;
    letter-spacing: 2px;
}

.label-small {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 1px;
}

.custom-quote {
  font-family: 'Optima', sans-serif; /* Fall back to regular Optima if italic doesn't load */
  font-style: italic; /* Ensures italic styling */
  font-size: 1.5rem;  /* Adjust as needed */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* Ensure it stays on top of other content */
  background-color: white;
}




/* Base layer and font settings */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }


}